@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>To Do Lists</h1>
    <p class="lead">Your Mind is not a good to do list. Write it down.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Items to do</h2>
        <p>
            Enter items that you want to get done
        </p>
        <p>@Html.ActionLink("Edit/Add to your list","Index","Items")</p>
    </div>
    <div class="col-md-4">
        <h2>Create new list types</h2>
        <p>Add or View the types of Lists</p>
        <p>@Html.ActionLink("Edit/Add type of list", "Index", "Lists")</p>
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>